/* style inital */

/* .h1_1 {
  color: aqua;
}

.h1_2 {
  color: rgb(11, 255, 76);

} */

/* padding margin test */
/* * {
  margin: 0px;
} */

/* body {
  margin: 0px;
} */

/* .card {
  padding: 10px 50px 150px 100px;
  padding-left: 100px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin: 2%;
  background-color: rgb(165, 55, 255);
  border: green dotted 10px;
  outline: green ridge 10px;


} */

.bordertest {
    margin: 5%;
    background-color: chocolate;
    padding: 2%;

    /* border init  */
    border: rgb(0, 0, 0) solid 30px;

    /* border-left: rgb(0, 0, 0) solid 10px  ; */

    border-radius: 1rem;
    font-family: 'Edu TAS Beginner', cursive;


}





.bordertest1 {
    margin: 5%;
    background-color: chocolate;
    padding: 2%;

    /* border init  */
    border: rgb(0, 0, 0) dotted 30px;

    /* border-left: rgb(0, 0, 0) solid 10px  ; */

    border-radius: 1rem;
}

.bordertest2 {
    font-family: Agbalumo;
    margin: 5%;
    background-color: chocolate;
    padding: 2%;
    /* border init  */
    border: rgb(0, 0, 0) groove 30px;

    /* border-left: rgb(0, 0, 0) solid 10px  ; */

    border-radius: 1rem;
}


.q1 {
    text-align: justify;
    font-size: 50px;
    font-size: 3vw;

}

.qf {
    font-family: 'Ruge Boogie';
    color: aliceblue;
    font-size: 50px;
}


.ti {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* outline Style  */
.outlinecl {
    border-left: 15px solid rgb(0, 0, 0);
    border-radius: 1px;
    padding: 20px;
    margin: 5%;
    background-color: blue;
    outline: 2px solid rgb(66, 65, 65);
    outline-offset: 50px;

}

.outlinecl h1 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0)
}

.outlinecl p {
    font-size: 20px;
    color: black
}

#ic{
    color: rgb(144, 46, 46); 
    font-size: 50px; 
    margin: 12px 100px;
}

.ti{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


