* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.main_nav {
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: #333;

}

.navbar {
  width: 1200px;
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.navbar a:hover,
.dropdown:hover  .dropbtn {
  background-color: red;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}









 .container {
  height: 300px;
  width: 400px;
  background-color: aqua;
}

@media only screen and (max-width: 700px) {

  .container {
    background-color: green;
  }

}

@media only screen and (min-width:1100px) {
  .container {
    background-color: blue;
  }
} 